	<ul>
		{%for g in galleries %}
			<li>
				<a class="tab" href="#{{g.title|slugify}}">{{ g.title }}</a>
				<div id="{{g.title|slugify}}">
					<div class="window"></div>
					<ul>
						{% for m in g.memberships.all %}
							<li>
								<a href="{{ m.item.display.url}}">
								{% if m.item.thumbnail %}
									<img src="{{ m.item.thumbnail.url}}">
								{% endif %}
								<h4>{{ m.item.title }}</h4>
								{% if m.item.caption %}
									<p>{{ m.item.caption}}</p>
								{% endif %}
								</a>
							</li>
						{% endfor%}
					</ul>
				</div>
			</li>
		{% endfor%}
	</ul>
